:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-dark: #6F6F6F;
    --color-gray: #F5F5F5;
    --color-red: #FF0000;

    --header-height: 82px;
    --header-height-mobile: 60px;
}